.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showPage {
  display: flex;
  align-items: center;
}

.dropdownContainer {
  display: flex;
  align-items: center;
}

.dropdownText {
  font-weight: bold;
  font-size: 16px;
  margin-right: 8px;
}

.selectOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wholeTable {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.thead {
  background-color: rgb(103, 179, 79);
  font-weight: bold;
}