.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tableWrapper {
  margin-top: 30px;

}

.wholeTable {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.thead {
  background-color: rgb(103, 179, 79);
}