.dropdown {
  width: 40px;
  position: relative;
  font-size: 16px;
}

.dropdown .dropdown-btn {
  padding: 5px;
  background-color: rgb(103, 179, 79);;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.dropdown .dropdown-content {
  position: absolute;
  left: 0;
  background-color: rgb(192, 218, 99);
  font-weight: 500;
  width: 40px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}